    <% if (disciplines == "error") {%>
      <div class="alert alert-danger" role="alert">
        An error occurred while getting the disciplines.
      </div>
    <%} else if (disciplines == "empty") {%>
      <div class="alert alert-danger" role="alert">
        There are no disciplines on the database.
      </div>
    <%} else {%>
      <ul class="list-group">
      <%for (var i = 0; i < disciplines.length; i++) {%>
        <%var discipline = disciplines[i]%>
        <li class="list-group-item">
          <div class="media">
            <div class="pull-left" id="controls">
              <button href="#" class="btn btn-info btn-xs" id="edit" type="button" onclick="showEditDiscipline('<%=discipline._id%>', '<%=discipline.label%>', '<%=discipline.name%>')"><i class="fa fa-pencil"></i></button> <button href="#" class="btn btn-danger btn-xs" id="edit" type="button" onclick="removeDiscipline('<%=discipline._id%>')"><i class="fa fa-trash"></i></button> <div class="label label-primary"><%=discipline.label%></div>
            </div>
            <div class="media-body" id="discipline">
              <%=discipline.name%>
            </div>
        </li>
      <%}%>
      </ul>
    <%}%>
