    <%if (format == "html") {%>
      <ul class="list-group">
      <%for (var i = 0; i < data.length; i++) {%>
        <%var subject = data[i]%>
        <li class="list-group-item">
          <div class="media">
            <div class="pull-left" id="controls">
              <button href="#" class="btn btn-info btn-xs" id="edit" type="button" onclick="showEditSubject('<%=subject._id%>', '<%=subject.label%>', '<%=subject.name%>')"><i class="fa fa-pencil"></i></button> <button href="#" class="btn btn-danger btn-xs" id="edit" type="button" onclick="removeSubject('<%=subject._id%>')"><i class="fa fa-trash"></i></button> <div class="label label-primary"><%=subject.label%></div>
            </div>
            <div class="media-body" id="subject">
              <%=subject.name%>
            </div>
        </li>
      <%}%>
      </ul>
    <%} else {%>
        <%for (var i = 0; i < data.length; i++) {%>
          <%var subject = data[i]%>
          <option value="<%=subject.label%>"><%=subject.label%>: <%=subject.name%></option>
        <%}%>
    <%}%>
